.DS_Store
.angular
.dockerignore
.git
.github
.gitignore
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
.vscode
*.md
Dockerfile*
LICENSE
_releaser
_site
connect.lock
coverage
dist
docker-compose*
kubernetes
*.log
node_modules
out-tsc
redeploy-app
tests
tmp
typings
vendor
