<div class="wrapper">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create new post
        </mat-panel-title>
        <mat-panel-description>
          Click here to create new post
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="createPostForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field>
          <mat-label>Add title</mat-label>
          <input type="text" matInput  formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Add message</mat-label>
          <textarea matInput cdkTextareaAutosize formControlName="message">
          </textarea>
        </mat-form-field>
        <button [disabled]="!createPostForm.valid" mat-raised-button color="primary">add new post</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
