.container {
  max-width: 70em;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.report-wrapper {
  text-align: center;
  padding: 20px;
}

.tab-wrapper {
  margin: auto;
  padding: 1em;
  width: fit-content;
}

.mat-tab-group {
  margin-top: 20px;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
